<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <!--输出到控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - [系统日志信息] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!--按天生成日志-->
    <appender name="logFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
     <!--配置生成日志的文件路径-->
            <FileNamePattern>
               D:/QYD/logs2/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
     <!-- 日志文件保留天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - [系统日志信息] -%msg%n
            </Pattern>
        </layout>
    </appender>
    <!-- 只筛选ERROR信息 -->
    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
            	D:/QYD/logs/error/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        <!-- 日志文件保留天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
        	<Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - [系统日志信息] -%msg%n
            </Pattern>
<!--             <pattern>${log.pattern}</pattern> -->
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- INFO信息后台打印输入, ERROR信息写入日志文件保存至本地 -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file_error" />
    </root>
</configuration>