<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


  
  <!-- 指明映射的dao数据层 -->
<mapper namespace="com.ktcn.mapper.Login_Mapper" >
<select id="LoginUser" resultType="com.ktcn.entity.Tb_user" >
  SELECT * FROM tb_user 

</select>



</mapper>